@{
    ViewBag.Title = "Paypal Integeration With Brantree .Net SDK";
}

@using PaypalIntegeration.Models
@model Paypal

<style>
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
    }
</style>
<div id="main" class="loader"></div>
<div id="">
    <table width="50" id="result" border="1">
        <tr>
            <td width="20%" style="">Client Token Generated Successfully !!</td>
        </tr>
        <tr>
            <td width="80%" style="color:forestgreen;font-style:italic;font-weight:500">@Model.ClientToken</td>
        </tr>
       <tr>
            <td>Amount To be Paid: @ViewBag.Amount @ViewBag.Currency</td>
        </tr>
        <tr>
            <td>
                <div style="display: table; padding-top:5px;">
                    <div id="paypal-button"></div>
                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        braintree.client.create({
            authorization: '@Model.ClientToken'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error('Error creating client:', clientErr);
                return;
            }

            braintree.paypalCheckout.create({
                client: clientInstance
            }, function (paypalCheckoutErr, paypalCheckoutInstance) {
                // Stop if there was a problem creating PayPal Checkout.
                // This could happen if there was a network error or if it's incorrectly
                // configured.
                if (paypalCheckoutErr) {
                    console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
                    return;
                }

                paypal.Button.render({
                    env: 'sandbox', // or 'sandbox'
                    locale: 'en_US',
                    payment: function () {
                        return paypalCheckoutInstance.createPayment({
                            flow: 'checkout',
                            intent: 'sale',
                            amount: '@ViewBag.Amount',
                            currency: '@ViewBag.Currency',
                            locale: 'en_US',
                            displayName: 'Demo Portal Test Store',
                            enableShippingAddress: true,
                            shippingAddressEditable: true
                        });
                    },
                    commit: true,
                    onAuthorize: function (data, actions) {

                        // data: intent, payerID, paymentID, paymentToken, returnUrl
                        console.log('onAuthorize (data): ', JSON.stringify(data, 0, 2));
                        
                        $('#result tr:last').after("<tr><td><div style='padding-top:10px;' class='animate-bottom' ><span style='font-weight:400;'> Your payment token has been generated successfully :<span style='color:green;font-style:italic;font-weight:600'> " + data.paymentToken + " </span></span></div></td></tr>");
                        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                            
                            // payload: nonce, type, countryCode, email, firstName, lastName, payerId, shippingAddress
                            console.log('onAuthorize (payload): ', JSON.stringify(payload, 0, 2));
                            $('#result tr:last').after("<tr><td><div style='padding-top:10px;' class='animate-bottom' ><span style='font-weight:400;'>Your payment nonce has been generated successfully :<span style='color:green;font-style:italic;font-weight:600'> " + payload.nonce + " </span></span></div></td></tr>");
                            $('#main').addClass('loader');
                            $.ajax({
                                type: "POST",
                                url: "/Home/PaymentNonce",
                                data: { paymentNonce: payload.nonce, amount: '@ViewBag.Amount' },
                                success: function (e, d) {
                                
                                    $('#main').removeClass("loader");
                                    if (e.TransactionID == "") {
                                        $('#result tr:last').after("<tr><td><div style='padding-top:10px;' class='animate-bottom' id='TransactionID'><img src='/Images/failure.png'/ height='35px'> <span style='font-weight:400;'>Sorry !! Your payment is failed due to <span style='color:red;font-style:italic;font-weight:600'>" + e.Message + "</span>. Please contact Paypal support</span></div></td></tr>");
                                        //$('#TransactionID').html("<img src='/Images/failure.png'/ height='35px'> <span style='font-weight:400;'>Sorry !! Your payment is failed due to <span style='color:red;font-style:italic;font-weight:600'>" + e.Message + "</span>. Please contact Paypal support</span>");

                                    } else {
                                        $('#result tr:last').after("<tr><td><div style='padding-top:10px;' class='animate-bottom' id='TransactionID'><img src='/Images/success.png'/ height='35px'> <span style='font-weight:400;'> Congratulations !! You have successfully made a payment using PayPal and your transaction ID is:<span style='color:green;font-style:italic;font-weight:600'> " + e.TransactionID + " </span>and Payment ID is:<span style='color:green;font-style:italic;font-weight:600'> " + e.PaymentID + "</span></span></div></td></tr>");
                                       // $('#TransactionID').html("<img src='/Images/success.png'/ height='35px'> <span style='font-weight:400;'> Congratulations !! You have successfully made a payment using PayPal and your transaction ID is:<span style='color:green;font-style:italic;font-weight:600'> " + e.TransactionID + " </span>and Payment ID is:<span style='color:green;font-style:italic;font-weight:600'> " + e.PaymentID + "</span></span>");
                                    }
                                },
                                error: function (e) {
                                  
                                    $('#main').removeClass("loader");
                                    $('#result tr:last').after("<tr><td><div style='padding-top:10px;' class='animate-bottom' id='TransactionID'><img src='/Images/failure.png'/ height='35px'> <span style='font-weight:400;'>Sorry !! Your payment is failed. Please contact Paypal support</span></div></td></tr>");
                                }
                            })

                        });
                    },
                    onCancel: function (data) {
                        console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
                    },
                    onError: function (err) {
                        alert(err);
                        console.error('checkout.js error', err);
                    }
                }, '#paypal-button')
                    .then(function () {
                        $('#main').removeClass("loader");
                });

            })

        });
    });

</script>
